// Colores
$white: #fff;
$gris: #1a3243;
$rojo: #c63f38;
$amarillo: #ffc520;
$verde: #0ba14b;
$celeste: #0091b5;

$celeste-t: rgba(0,145,181,0.6);
$verde-t: rgba(11,161,75,0.6);
$amarillo-t: rgba(255,197,32,0.6);
$rojo-t: rbga(198,63,56,0.6);