.comentarios {
    @include seccion;
    img {
        text-align: center;
        width: 150px;
        height: 150px;
        margin-bottom: 1rem;
    }
}

.comentarios__titulo {
    @include titulo;
    position: relative;
}

.comentarios__padres {
    text-align: center;
    color: $gris;
}

.comentarios__indicador li {

}

.carousel-indicators {
    color: $gris;
    bottom: -35px;
    position: absolute;


    li {
        background-color: $rojo; 
        width: 10px;
        height: 10px;
        border-radius: 50%; 
    }
}


