.contacto {    
    background-color: $amarillo;
    @include seccion;
    h2 {
        color: $white;
    }
    p {
        color: $white;
        font-weight: lighter;
    }
}

.contacto__titulo {
    @include titulo;
}

.contacto__btn {
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}

.contacto__datos {
    color: $gris;
}
