.especiales {
    background-color: $verde;
    @include seccion;
    h2 {
        color: $white;
    }
}

.especiales__titulo {
    @include titulo;
}

.especiales__tarjetas {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
}

.especiales_card {
    margin: 2rem 2.5rem;
}

.especial__img img {
    width: 18rem;
    height: 13rem
}