.especiales {
    background-color: $verde;
    @include seccion;
    h2 {
        color: $white;
    }
}

.especiales__titulo {
    @include titulo;
}

.especial__img {
    width: 140px;
    height: 170px;
}