.especiales {
    background-color: $verde;
    @include seccion;

    h2 {
        color: $white;
    }

    p {
        text-align: left;
    }
}

.especiales__titulo {
    @include titulo;
}

.especiales__img {
    border-radius: 0.25rem;
}

