.main {
    position: relative;
    background-image: url('../images/main_72dpi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;

}

.main__texto {
padding-top: 8rem;
text-shadow: 0px 0px 4px $white;
}

.main__btn {
    margin-top: 2rem;
    padding: .5rem 2rem;
    border-radius: 10em;
}
