.bg-color {
    background-color: $white
}

.navbar__links {
    margin: 0 auto;
    font-weight: $bold;
}

.navbar__logo img {
    height: 2.3rem;
    width: auto;
}

.navbar__inconos {
    display: flex;
    align-items: flex-end;

    img {
        height: 2rem;
        width: auto;
        transition: transform .8s ease-in-out;

        &:hover {
            transform: rotate(360deg);
        }
    }
}

.navbar-nav {
    a {
        text-decoration: none;
        line-height: 10px;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
    }
    
    a:hover, a:focus {
        background-size: 100% 2px;
    }
}

@media (max-width: 768px) {
    .navbar-nav {    
        a:hover, a:focus {
        background-size: 0% 2px;
    }}
}

.navbar-light .navbar-nav .nav-link.active {
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 100% 2px;
}