.programa {
    background-color: $celeste;
    @include seccion;
    h2 {
        color: $white;
    }
    p {
        text-align: left;
    }
}

.programa__titulo {
    @include titulo;
}

.card-footer {
    border: 0;
    border-radius: 0 !important;
    background-color: $white;
    
}

.programa__card-img {
    text-align: center;
}

.programa__card-img img {
    position: relative;
    border-radius: 0.3rem;
    box-shadow: 0 0 15px 3px $amarillo;
    max-width: 92%;
    top: -20px
}