.programa {
    background-color: $fondo-1;
    @include seccion;

    p {
        text-align: left;
    }
}

.programa__titulo {
    @include titulo;
}

.card {
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-footer {
    border: 0;
    border-radius: 0 !important;
    background-color: $white;    
}

.programa__card-img {
    margin-top: -1.25rem;
    margin-right: 4%;
    margin-left: 4%;
    
    img {
        position: relative;
        border-radius: .25rem;
        -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    }
}

.programa__btn {
    text-align: center;
}